body {
    margin: 0;
    background-color: mintcream;
}

.header {
    background-color: #9bf299;
    margin-top: 0;
}

.App-logo {
    float:left;
    width: 10%;
    height: 10%;
}

h1 {
    margin: 0;
}